.container {
	background-color: #ffffff;
}

img {
	width: 20px;
	height: 20px;
}

.card1{
    background-color: rgb(234, 229, 229);
    width: 350px;
    height: 400px;
    border-radius: 15px;
}

.cad1Icons{
   color: black;
   font-size: large;
   z-index: 1;
}

.img1{
    margin: 30px;
    width: 250px;
    height: 200px;
    /* border:2px white solid; */
    z-index: 0; 
}

.delete-btn{
    background: transparent;
}

